<a name="contact"/>
<section id="contact" class="wrapper split">
    <div class="inner">
        <section>
            <h2>{{__ 'contact-form-title'}}</h2>
            <form method="post" action="#">
                <div class="row uniform">
                    <div class="6u 12u$(large) 6u(medium) 12u$(xsmall)">
                        <label for="name">{{__ 'contact-form-name-title'}}</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="6u$ 12u$(large) 6u$(medium) 12u$(xsmall)">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div class="12u$">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="5"></textarea>
                    </div>
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="{{__ 'contact-form-send-button'}}" class="special" /></li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>
        <section>
            <h2>{{__ 'contact-us'}}</h2>
            <ul class="bulleted-icons">
                <li>
                    <span class="icon-wrapper"><span class="icon fa-envelope"></span></span>
                    <h3>Email</h3>
                    <p><a href="mailto:contact@3chameaux.com">contact@3chameaux.com</a></p>
                </li>
         <!--        <li>
                    <span class="icon-wrapper"><span class="icon fa-twitter"></span></span>
                    <h3>Twitter</h3>
                    <p><a href="#">twitter.com/untitled-tld</a></p>
                </li> -->
                <li>
                    <span class="icon-wrapper"><span class="icon fa-phone"></span></span>
                    <h3>{{__ 'phone'}}</h3>
                    <p>(+212) 528-71-91-87</p>
                </li>
                <li>
                    <span class="icon-wrapper"><span class="icon fa-facebook"></span></span>
                    <h3>Facebook</h3>
                    <p><a href="http://facebook.com/3chameaux">facebook.com/3chameaux</a></p>
                </li>
                <li>
                    <span class="icon-wrapper"><span class="icon fa-home"></span></span>
                    <h3>Les 3 Chameaux </h3>
                    <p>Fort de Tidli<br />
                    Mirleft, Province de Tiznit<br />
                    Maroc
                    </p>
                </li>
             <!--    <li>
                    <span class="icon-wrapper"><span class="icon fa-linkedin"></span></span>
                    <h3>LinkedIn</h3>
                    <p><a href="#">linkedin.com/untitled-tld</a></p>
                </li> -->
            </ul>
        </section>
    </div>
</section>
