<footer id="footer">
    <div class="inner">
        <p class="copyright">&copy; {{{__ 'main-title'}}} Mirleft, Maroc.</p>
        <ul class="menu">
            <!-- <li><a href="#">Terms<span> of Use</span></a></li>
            <li><a href="#">Privacy<span> Policy</span></a></li> -->
            <li><a href="mailto:contact@3chameaux.com">Contact</a></li>

            <!-- <li><a href="{{link 'presse' }}">Presse</a></li> -->
            <li><a href="{{link 'credits' }}">Credits</a></li>
            <li><a href="/assets/CGV.pdf">CGV</a></li>
            <li><a href="webcam-mirleft.html">Webcam</a></li>
        </ul>
    </div>
</footer>
