<header id="header">
    <h1 class="main-title">
        <a href="{{link 'index' }}">
            <div class="logo"></div>{{{__ 'main-title'}}}
        </a>
    </h1>
    <nav id="nav">
        <ul>
            <li><a href="{{link 'hotel' }}">{{__ 'menu-hotel'}}</a></li>
            <li><a href="{{link 'region' }}">{{__ 'menu-region'}}</a></li>
            <li><a href="{{link 'évènements' }}">{{__ 'évènements'}}</a></li>
            <li><a href="{{link 'tarifs' }}">{{__ 'menu-pricing'}}</a></li>
            <li><a href="#contact" class="button">Contact</a></li>
            <li><a href="{{link 'index' }}">{{{ btn-lang language }}}</a></li>
        </ul>
    </nav>
</header>
