<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
        <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="./assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="./assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="./assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="./assets/css/ie9.css" /><![endif]-->
        <noscript><link rel="stylesheet" href="./assets/css/noscript.css" /></noscript>
        <script src="http://localhost:35729/livereload.js"></script>
    </head>
    <body>

    {{> header }}
